sudo: false

language: android

android:
  components:
    - tools
    - platform-tools
    - build-tools-23.0.2
    - android-23
    - extra-android-m2repository
    - sys-img-armeabi-v7a-android-16

before_script:
  - echo no | android create avd --force -n test -t android-16 --abi armeabi-v7a
  - emulator -avd test -no-skin -no-audio -no-window &
  - android-wait-for-emulator
  - sleep 10
  - adb shell input keyevent 82

after_success:
  - ./gradlew crashlyticsUploadDistributionDebug

notifications:
  slack: conference-chat:fQg0a36Y9DH9KMXK80hq7EmD
